{% extends 'base.html' %}
{% load crispy_forms_tags %}    <!--Template de form de inregistrare-->
{% block content %}

<h1 style="text-align:center; margin-block:50px; color:red;">{{user}}, here you can become an author for the forum</h1>

<!--Avem enctype="multipart/form-data", deoarece vom transmite serverului fisiere si trecut codificate corespunzator-->
<form method="POST" action="." enctype="multipart/form-data" style="margin-block:150px;">
    {% csrf_token %}        <!--Un cod unic folosit pentru motive de securitate la inregistrari-->
    {{form|crispy}}         <!--Adaugam template-ul la formular-->
    <input type="submit" value="Update" style="margin-block:50px;">
</form>

{% endblock content %}